<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331310060324-ech1el0cp190ap9ubqsubhjcgnuu6m2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331310060324-ech1el0cp190ap9ubqsubhjcgnuu6m2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBlTpcmTFfHkX3EfztFYJB1Kq1hM_awU_g</string>
	<key>GCM_SENDER_ID</key>
	<string>331310060324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifestages.align</string>
	<key>PROJECT_ID</key>
	<string>lifestages-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lifestages-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331310060324:ios:9ea7146186b0b2320299b1</string>
</dict>
</plist>